/*Universal Styles*/
body{
  font-family: 'Muli', sans-serif;
    color: rgb(60,60,60);
}
h2{
  font-size: 3rem;
  font-weight: 900;
}
h3{
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

/*Header*/
header{
  display: flex;
  align-items: center;
  height: 64px;
}
header img{
  margin-left: 24px;
}
header ul{
  margin-right: 24px;
}
header ul li{
  display: inline-block;
  padding-left: 16px;
}
ul.mobile{
  display: none;
}
header h1{
  flex-grow: 1;
  text-transform: uppercase;
}
header h1 span{
  color: rgb(175,175,175);
}
/*Banner*/
.banner{
  display: flex;
  background-color: rgb(200,200,200);
  align-items: center;
}
.banner-image img{
  width: 775px;
  margin: 32px 40px 32px 24px;
}
.banner-text{
  padding-right: 100px;
  width: 35%;
}
.banner-text h2{
  line-height: 4rem;
}
.banner-text h3{
  padding: 2rem 0;
  line-height: 3rem;
}
.banner-text button{
  font-size: 1.25rem;
  white-space: nowrap;
  padding: 8px 150px;
  color: white;
  background-color: rgb(60,60,50);
  border: none;
  font-family: 'Muli', sans-serif;
}
/*Main information*/
main {
    display: flex;
}
  /*Left Side*/
.inspire{
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
}
.inspire-img img{
  margin: 32px 24px 0 24px;
  width: 775px;
}
.inspire-text{
  margin-left: 24px;
  width: 775px;
}
.inspire-text h2{
  font-size: 2.5rem;
  padding: 32px 0 24px 0;
}
.inspire-text p{
  line-height: 2rem;
  padding-bottom: 30px;
}
.inspire-text q{
  padding-top: 40x;
  font-size: 0.75rem;
  font-weight: bold;
}
  /*Right Side*/
.information{
  border-left: 0.2px solid rgba(200,200,200,0.5);
}
.information-box{
  display: flex;
  align-items: center;
  border-top: 0.2px solid rgba(200,200,200,0.5);
  border-bottom: 0.2px solid rgba(200,200,200,0.5);
}
.information-box img{
  margin: 16px 16px;
  height: 200px;
  width: 200px;
}
.information-box img.mobile{
  display: none;
}
.information-box-text{
  display: flex;
  flex-direction: column;
}
.information-box-text p{
  padding: 8px 0;
}
.information-box-text a{
  text-decoration: none;
}
#learn{
  text-align: center;
  background-color: rgb(200,200,200);
  padding-top: 32px;
}

/*Program Listings*/
}.programs{
  display: flex;
  justify-content: center;
}
.course-box-container{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(200,200,200);
}
.course-box{
  width: 350px;
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  background-color: #FFFFFF;
  margin-top: 32px;
  margin-bottom: 16px;
}
.course-box img{
  width: 100%;
}
.course-box-text{
  padding-left: 16px;
}
.course-box-text h3{
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 1.5rem;
}
.course-box-text span{
  text-transform: uppercase;
  font-size: 1.15rem;
}
.course-box-text p{
  padding-top: 16px;
  padding-bottom: 24px;
}

/*Thesis Exhibit*/
#thesis-header{
  text-align: center;
  padding: 32px 0;
  align-items: center;
}
.thesis{
  display: flex;
}
.thesis-video-container{
  display: flex;
  flex-direction: column;
}
.thesis-video video{
  width: 775px;
  height: auto;
  margin-left: 24px
}
.thesis-video-text{
  margin-left: 24px;
  width: 775px;
}
.thesis-video-text h3{
  font-size: 2rem;
  padding: 32px 0 24px 0;
}
.thesis-video-text p{
  line-height: 2rem;
  padding-bottom: 30px;
}
/*Footer*/
footer{
  display: flex;
  margin-bottom: 300px;
  border-top: 0.2px solid rgba(200,200,200,0.5);
  padding-top: 24px;
}
footer p{
  margin-left: 24px;
  flex-grow: 1;
}
footer nav span{
  margin-right: 24px;
}
/*Mobile Design*/
@media only screen and (max-device-width: 420px) {
/*universal*/
html {
  font-size: 14px;
  min-width: 420px;
}
/*header*/
header h1{
  display: none;
}
ul.desktop{
  display: none;
}
ul.mobile{
  display: inline-block;
}
/*banner*/
.banner-image img{
    display: none;
}
.banner-text{
  padding-right: 0px;
  margin-top: 180px;
  margin-left: 16px;
  width: 100%;
  align-items: center;
}
.banner-text button{
  margin-bottom: 32px;
}
/*main*/
.inspire{
  display: none;
}
.information-box{
  display: block;
  border: none;
}
.information-box img{
  display: none;
}
.information-box img.mobile{
  display: block;
  width: 95%;
  margin: 16px 16px;
}
.information-box-text{
  margin: 16px 16px;
}
/*listings*/
.course-box img{
  display: none;
}
.course-box-text span,
.course-box-text p{
  display: none;
}
.course-box-container{
  display: inline-block;;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  margin-left: 16px;
}
.course-box{
  background-color: rgb(200,200,200);
  margin-bottom: 4px;
  padding: 0;
}
#learn{
  background-color: white;
}
/*thesis*/
.thesis-info,
.thesis-video-text{
  display: none;
}
.thesis-video video{
  margin: 0;
  width: 100%;
}
/*footer*/
footer nav span{
  display: none;
}
}
